<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966674151340-0sdububsn6kqp3br8f6hrt9git7gu042.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966674151340-0sdububsn6kqp3br8f6hrt9git7gu042</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUQEKOw7cINIyKEBHfoda8ah03C8FB9s</string>
	<key>GCM_SENDER_ID</key>
	<string>966674151340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itesm.App07-Todo-Firebase</string>
	<key>PROJECT_ID</key>
	<string>tc2007b-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>tc2007b-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966674151340:ios:a150e85b7f14cde74aac09</string>
</dict>
</plist>