<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522694331671-ahvaphg6ns0lbjcui88qt2tu8nl1sijv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522694331671-ahvaphg6ns0lbjcui88qt2tu8nl1sijv</string>
	<key>API_KEY</key>
	<string>AIzaSyCVr_u9ZBqeUSFWL3ES-CLCMbrTXbMflu8</string>
	<key>GCM_SENDER_ID</key>
	<string>522694331671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itesm.heartTech</string>
	<key>PROJECT_ID</key>
	<string>heart-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522694331671:ios:3077517989358f05363b52</string>
	<key>DATABASE_URL</key>
	<string>https://heart-tech-default-rtdb.firebaseio.com</string>
</dict>
</plist>